<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light app-navbar">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink="main">
        <!-- img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy" -->
        KiwiNani
      </a>
      <ng-container *ngIf="(username$ | async) as username">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <button class="btn btn-sm app-nav-link" routerLink="main" routerLinkActive="active">Progress</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-sm app-nav-link" routerLink="game" routerLinkActive="active"
                    [disabled]="username !== 'dwilches'">Practice
            </button>
          </li>
        </ul>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle app-primary-button" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="logout()">Logout {{ username }}</a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
