<div class="container app-main-container">
  <div class="chart-container">
    <canvas [hidden]="loading" id="dashboardChart"></canvas>

    <div class="d-flex justify-content-center">
      <div *ngIf="loading" class="spinner-grow text-success m-5" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <div style="display: flex; justify-content: center">
    <div>
      <div class="criteria-buttons">
        <div class="button-group-title">Chart Type:</div>
        <div class="d-flex justify-content-center">
          <button class="btn"
                  [class]="getCriteriaClass('LEVEL')"
                  [disabled]="loading"
                  (click)="changeCriteria('LEVEL')">Level
          </button>
          <button class="btn"
                  [class]="getCriteriaClass('PASSED_AT')"
                  [disabled]="loading"
                  (click)="changeCriteria('PASSED_AT')">Passed At
          </button>
          <button class="btn"
                  [class]="getCriteriaClass('BURNED_AT')"
                  [disabled]="loading"
                  (click)="changeCriteria('BURNED_AT')">Burned At
          </button>
          <button class="btn"
                  [class]="getCriteriaClass('JLPT')"
                  [disabled]="loading"
                  (click)="changeCriteria('JLPT')">JLPT
          </button>
        </div>
      </div>

      <div *ngIf="currentCriteria == 'PASSED_AT' || currentCriteria == 'BURNED_AT'">
        <div class="timespan-buttons">
          <div class="button-group-title">Time span:</div>
          <div class="d-flex justify-content-center">
            <button class="btn"
                    [class]="getTimespanClass('LAST_MONTH')"
                    [disabled]="loading || currentCriteria == 'LEVEL'"
                    (click)="changeTimeSpan('LAST_MONTH')">Last month
            </button>
            <button class="btn"
                    [class]="getTimespanClass('LAST_3_MONTHS')"
                    [disabled]="loading || currentCriteria == 'LEVEL'"
                    (click)="changeTimeSpan('LAST_3_MONTHS')">Last 3 months
            </button>
            <button class="btn"
                    [class]="getTimespanClass('ALL')"
                    [disabled]="loading"
                    (click)="changeTimeSpan('ALL')">All
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
