<div class="container app-main-container">
  <div class="chart-container">
    <canvas [hidden]="loading" id="dashboardChart"></canvas>

    <div class="d-flex justify-content-center">
      <div *ngIf="loading" class="spinner-grow text-success m-5" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center timespan-buttons">
    <button class="btn"
            [ngClass]="{
              'btn-secondary': currentTimeSpan != 'LAST_MONTH',
              'btn-primary app-primary-button': currentTimeSpan == 'LAST_MONTH'
            }"
            [disabled]="loading || currentCriteria == 'LEVEL'"
            (click)="changeTimeSpan('LAST_MONTH')">Last month
    </button>
    <button class="btn"
            [ngClass]="{
              'btn-secondary': currentTimeSpan != 'LAST_3_MONTHS',
              'btn-primary app-primary-button': currentTimeSpan == 'LAST_3_MONTHS'
            }"
            [disabled]="loading || currentCriteria == 'LEVEL'"
            (click)="changeTimeSpan('LAST_3_MONTHS')">Last 3 months
    </button>
    <button class="btn"
            [ngClass]="{
              'btn-secondary': currentTimeSpan != 'ALL',
              'btn-primary app-primary-button': currentTimeSpan == 'ALL'
            }"
            [disabled]="loading"
            (click)="changeTimeSpan('ALL')">All
    </button>
  </div>
  <div class="d-flex justify-content-center criteria-buttons">
    <button class="btn"
            [ngClass]="{
              'btn-secondary': currentCriteria != 'LEVEL',
              'btn-primary app-primary-button': currentCriteria == 'LEVEL'
            }"
            [disabled]="loading"
            (click)="changeCriteria('LEVEL')">Level
    </button>
    <button class="btn"
            [ngClass]="{
              'btn-secondary': currentCriteria != 'PASSED_AT',
              'btn-primary app-primary-button': currentCriteria == 'PASSED_AT'
            }"
            [disabled]="loading"
            (click)="changeCriteria('PASSED_AT')">Passed At
    </button>
    <button class="btn"
            [ngClass]="{
              'btn-secondary': currentCriteria != 'BURNED_AT',
              'btn-primary app-primary-button': currentCriteria == 'BURNED_AT'
            }"
            [disabled]="loading"
            (click)="changeCriteria('BURNED_AT')">Burned At
    </button>
    <button class="btn"
            [ngClass]="{
              'btn-secondary': currentCriteria != 'JLPT',
              'btn-primary app-primary-button': currentCriteria == 'JLPT'
            }"
            [disabled]="loading"
            (click)="changeCriteria('JLPT')">JLPT
    </button>
  </div>
</div>
