
body {
  background-color: #eee;
  background-image: url("https://cdn.wanikani.com/assets/default-v2/bg-texture-6c0132b3fcddeea4e286d332e0dd1a6c12454a3394e936a18338756456e269bd.png");
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.app-primary-button {
  background-color: #00a1f1;
  background-image: linear-gradient(to bottom, #0af, #0093dd);
  border-top: 1px solid #88d7ff;
  border-bottom: 1px solid #069;
  border-left: 1px solid #88d7ff;
  color: white;
  box-shadow: 0 1px 0 #fff;
}
